#about-title {
    margin-bottom: 0;
}

.member {
    &-card {
        display: flex;
        flex-wrap: wrap;
        // gap: 20px;
        justify-content: center;
        // margin-top: 20px;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    &-no-photo, &-photo{
        width: 150px;
        height: 150px;
        object-fit: cover;
        background-color: var(--color-bg-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: var(--color-text-muted);
        border-radius: 10%;

        &.upper {
            object-position: top;
            // width: 150px;
            // height: 150px;
            // border-radius: 50%;
        }
    }

    &-name {
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--color-text);
    }

    &-role {
        margin: 0.25rem 0;
        text-align: center;
        color: var(--color-text-muted);
        font-size: 1rem;
        font-weight: 500;
    }
}