.member {
    &-card {
        display: flex;
        flex-wrap: wrap;
        // gap: 20px;
        justify-content: center;
        // margin-top: 20px;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    &-no-photo, &-photo{
        width: 150px;
        height: 150px;
        background-color: #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #4e4e4e;
        border-radius: 10%;
    }

    &-name {
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 1.4rem;
        font-weight: bold;
    }

    &-role, &-bio {
        margin: 5px 0;
        text-align: center;
        color: #666666;
        font-size: 1rem;
        font-weight: 500;
    }
}