#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  gap: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-center {
    display:flex;
    align-items:center;

    h1 {
      margin:0;
      font-size: clamp(1.5rem,4vw,2rem);
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }

  .nav-right {
    padding: 0 1.5rem;
    gap: 1rem;
  }
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fbff17aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #fbff17aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
